.anjuta/
.anjuta_sym_db.db
Makefile
Makefile.in
TODO.tasks
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
goban.pdf
goban.png
gofu-0.0.tar.gz
gofu.anjuta
install-sh
src/Makefile
src/Makefile.in
src/libgoban/.deps/
src/libgoban/Makefile
src/libgoban/Makefile.in
src/libgoban/libgoban
stamp-h1
