.anjuta/
.anjuta_sym_db.db
Makefile
TODO.tasks
config.h
config.log
config.status
goban.pdf
goban.png
gofu-0.0.tar.gz
gofu.anjuta
src/Makefile
src/libgoban/.deps/
src/libgoban/Makefile
src/libgoban/libgoban
stamp-h1
aclocal.m4
autom4te.cache/